@media only screen and (max-width: 426px) {
    .uploadimg img {
        width: 400px;
        height: 300px;
        border: 1px solid #ccc;
        position: relative;
        text-align: center;
        padding: 1px;
        background-color: white;
    }
}
.uploadimg {
    width: 111px;
    height: 111px;
    border: 1px solid #ccc;
    position: relative;
    text-align: center;
    padding: 1px;
    background-color: white;
}
.uploadimg .removefile {
    font-size: 18px;
    position: absolute;
    top: 3px;
    right: 4px;
    z-index: 10;
    background-color: #eee;
    color: #888;
    border-radius: 3px;
    line-height: normal;
    padding: 0px 5px 0px 3px;
    display: none;
}
.uploadimg .removefile:hover {
    color: #000;
}
.uploadimg,
.uploadimg img {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
}
.uploadimg img {
    height: 110px;
    width: 100%;
    display: block
}
.uploadimg:hover {
    border: 1px solid #999;
    cursor: pointer;
}
.hide {
    display: none
}
.img_index{
    width: 100%;
}
